* {
    font-family: 'Times New Roman', Times, serif;
}

.uno {
    font-size: 2.5rem !important;
}

.rojo {
    color: orangered !important;
}

.quita {
    color: black !important;
}

.contenido {
    width: 60%;
    font-size: 2rem !important;
}

.letra {
    font-size: 3rem !important;
    font-weight: bold;
}

.letra2 {
    font-size: 1.5rem !important;
}

.fondo {
    background-image: url("img/residential-banner-2.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    background-position-x: 50%
}

.boton {
    background-color: orangered !important;
    margin-left: 60%;
    border-color: orangered!important;
}

.num {
    font-size: 3rem;
    font-weight: bold;
}

.titi {
    font-size: 1rem;
}

.ultimo {
    background-color: rgb(243, 237, 237);
}

.fut {
    font-size: 1rem;
    font-weight: bold;
}